body{
	background-color: grey;
	color:wheat;
	font-family: verdana, arial;
	font-size: 16px;
	line-height: 1.6em;
	margin:0;
}

.container
{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
#mainheader
{
	background-color: coral;
	color: wheat;
}

#navbar
{
	background-color: black;
	color: white;
}
#navbar ul
{
	padding: 0px;
	list-style: none;
}
#navbar li
{
	display: inline;
	padding-right: 10px;
}

#navbar a
{
	color: white;
	font-size: 18px;
	padding-right: 15px;
}

#showcase
{
	background-image: url("../images/showcase.png");
	min-height:300px;
	text-align: center;
	margin-bottom: 30px; 
}

#showcase p{
	font-size: 40px;
	color: black;
	line-height: 1.6em;
	padding-top: 20px;
}

#main{
	float: left;
	width: 70%;
	padding: 10px;
	box-sizing: border-box;
}

#side{
	float: right;
	width: 30%;
	padding: 15px;
	background-color: black;
	color: white;
	box-sizing: border-box;
}

#footer{
	background-color: black;
	color: white;
	margin-top: 60px;
	text-align: center;
	padding: 15px;
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}
	#side{
		width: 100%;
		float: none;	
	}
}
